# update.html

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
 
<style>
    body {
        width: fit-content;
        margin: 20px auto;
    }
 
    form {
        margin: 0 5px;
    }
</style>
 
<h3>Update Task</h3>
 
<form method="POST" action="" class="ui form">
    <div class=" ui field action input">
        {% csrf_token %}
 
        {{ form }}
 
        <input type="submit" name="Update Task" class="ui primary basic button" />
 
    </div>
</form>